altgraph==0.17.3
asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
Django==4.2.4
english-dictionary==1.0.24
futures==3.0.5
goslate==1.5.4
gunicorn==21.2.0
idna==3.4
packaging==23.1
pefile==2023.2.7
Pillow==9.5.0
PyDictionary==2.0.1
pyinstaller==5.10.0
pyinstaller-hooks-contrib==2023.2
PyPDF2==3.0.1
pywin32-ctypes==0.2.0
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
